@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 250px;
}

@layer components {
  .nav-link-hover {
    @apply hover:bg-[#2e3338] hover:transition-all hover:ease-in hover:duration-100 hover:rounded
  }

  .nav-item {
    @apply block w-full p-2
  }

  .active {
    @apply !border-blue-600 font-semibold bg-[#2e3338]
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-medium tracking-normal font-header text-white
}

p, strong, span {
  @apply text-white text-base
}

form {
  @apply m-0
}

textarea, select, input, button, button:focus, button:focus-visible {
  @apply outline-none
}

.input-help {
  @apply mt-1 text-xs text-[#fc8484]
}

strong {
  height: fit-content;
}

hr {
  margin: 1rem 0;
  color: white;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}

::-webkit-scrollbar {
  background: none;
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  border: solid 0 rgb(0 0 0 / 0%);
  border-right-width: 4px;
  border-left-width: 4px;
  -webkit-border-radius: 9px 4px;
  -webkit-box-shadow: inset 0 0 0 1px #2e3338, inset 0 0 0 4px #343f44;
}

::-webkit-scrollbar-track-piece {
  margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  -webkit-border-radius: 4px 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
