@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link-hover {
    @apply hover:bg-[#2e3338] hover:transition-all hover:ease-in hover:duration-200 hover:rounded
  }

  .nav-item {
    @apply block w-full p-2
  }

  .nav-item-active {
    @apply border-l-4 border-blue-600 font-semibold
  }
}

.menu-mobile-hidden {
  right: -100%;
}

.menu-mobile-show {
  right: 0px;
}

@media (min-width: 500px) {
  .menu-mobile-show {
    right: -50%;
  }
}

.players_table_hidden {
  display: none;
}

strong {
  height: fit-content;
}

hr {
  margin: 1rem 0;
  color: white;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}
